    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>Hey, ich bin Stefan.</p>
                <p>Ich habe früh angefangen mich mit dem Netz und mit Code zu beschäftigen. Seither hat mich das Thema nicht mehr losgelassen.</p>
                <p>Ich interessiere mich für das Netz, technische Entwicklungen und Politik. Das spiegelt sich in all meinen Projekten wieder. Ein Teil dieser Gedanken finden dann ihren Weg ins <a class="page-scroll" href="#blog">Blog</a> oder in den <a class="page-scroll" href="#podcast">Podcast</a>.</p>
            </div>
        </div>
    </section>