    <!-- Contact Section -->
    <section id="kontakt" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Kontakt</h2>
                <p>Ich freue mich über nette Nachrichten. Am besten per Mail.</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>, <a href="mail@stefantrauth.de.asc">PGP</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>